@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans|Paytone+One');
/*
font-family: 'Fugaz One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
*/

/* 

dark blue: 47, 72, 88
light blue: 85, 221, 224
mustard: 246, 174, 45
orange: 242, 100, 25

*/

html,body {
  height: 100%;
  margin: 0;
}


/* Style the video: 100% width and height to cover the entire window */
video#bgVideo { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover; 
}

/* Add some content at the bottom of the video/page */
#content-wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
}

#intro-services {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 100vw 0 0;
  border-color: transparent rgb(47, 72, 88) transparent transparent;
  transform: scale(1.0001);
}

#services-work {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 100vw 0 0;
  border-color: rgb(47, 72, 88) rgb(255, 255, 255) transparent transparent;
  transform: scale(1.0001);
}

#work-about {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 100vw 0 0;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  transform: scale(1.0001);
}

#services {
  background: rgb(47, 72, 88);
  color: rgb(255, 255, 255);
}

#work-experience {
  background: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
}

.section {
  padding: 100px 0;
}

.brand-logo {
  font-family: 'Fugaz One', cursive;
}



/* Mods to Materialize */

.row {
  margin-bottom: 0;
}

nav {
  background: rgba(65, 143, 167,0.5);
  font-family: 'Fugaz One', cursive;
  padding: 0 100px;
}

nav .brand-logo {
  font-family: 'Fugaz One', cursive;
}

#footer {
  background: rgb(3, 150, 125);
  padding-top: 50px;
  position: relative;
}

.card {
  background: rgba(85, 221, 224, 0.1);
}

.card .card-image {
  font-size: 75px;
  text-align: center;
}

.card .card-content {
  margin-top: 0;
  padding-top: 0;
}