
html,body {
  height: 100%;
  margin: 0;
}

.content {
  color: rgb(255,255,255);
  font-size: 200%;
  height: 100%;
  margin-bottom: 200px;
  min-height: 100%; /*for mozilla*/
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
  position: relative;
  text-align: center;
  width: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#intro {
  /* background: rgba(34, 46, 80, 1);
  color: #dccfd3; */
  margin: 0;
}

#second {
  /* background: rgba(0, 121, 145, 1);
  color: #dccfd3; */
  margin: 0;
}

#third {
  /* background: rgba(67, 154, 134, 1); */
}

#fourth {
  /* background: rgba(188, 216, 193, 1); */
}

#fifth {
  /* background: rgba(230, 232, 230, 1); */
}

#nav {
  background: rgb(3, 150, 125);
}

#footer {
  background: rgb(3, 150, 125);
  position: relative;
}

